<h1><%= @user.username %></h1>
<p>
  <% if @user.admin  %>
    <span class="label label-success">server admin</span>
  <% end %>
  <% if @user.frozen? %>
    <span class="label label-danger">account frozen</span>
  <% end %>
</p>

<p> 
  <% if @user.beer_club %>
    member of <%= link_to @user.beer_club, @user.beer_club %>
  <% end %>
</p>

<p>
  <% if @user.ratings.empty? %>
    <%= @user.username %> has not given any ratings!
  <% else %>
    Has <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %><br>
    Favorite style: <%= @user.favorite_style %><br>
    Favorite brewery: <%= @user.favorite_brewery.name %>
</p>

    <h2>List of ratings</h2>

    <ul>
      <% @user.ratings.each do |rating| %>
        <li> <%= rating %> 
        <% if current_user && current_user.id == @user.id %> 
          <%= link_to 'delete', rating_path(rating.id), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %></li>
      <% end %>
    </ul>
  <% end %><br />

<% if current_user %> 
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-warning' %>
    <%= link_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
  <% elsif current_user.admin %>
    <%= link_to "change ban status", toggle_banned_user_path(@user.id), method: :post, class:"btn btn-danger" %>
  <% end %>
<% end %>

